# Jekyll build directory
_site/

# Jekyll and Ruby cache directories
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler and RubyGems cache
.bundle/
vendor/

# Logs
*.log

# Local configuration files
*.local

# Other temporary files
*.tmp
